In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
dict = {"Thời gian":[1, 1/2, 1/3, 1/5, 1/7], 
        "Môi trường": [2, 1, 7/5, 17/10, 9/4],
        "Cấp thiết":[3, 5/7, 1, 5/4, 9/5], 
        "Trang bị": [5, 10/7, 5/4, 1, 7/5],
        "Điều kiện": [7, 4/9, 5/9, 5/7, 1]}

data = pd.DataFrame(dict, index = ["Thời gian", "Môi trường", "cấp thiết", "Trang bị", "Điều kiện"])
data

            Thời gian  Môi trường  Cấp thiết  Trang bị  Điều kiện
Thời gian    1.000000        2.00   3.000000  5.000000   7.000000
Môi trường   0.500000        1.00   0.714286  1.428571   0.444444
cấp thiết    0.333333        1.40   1.000000  1.250000   0.555556
Trang bị     0.200000        1.70   1.250000  1.000000   0.714286
Điều kiện    0.142857        2.25   1.800000  1.400000   1.000000

In [3]:
sum_1 = data["Thời gian"].sum()
sum_2 = data["Môi trường"].sum()
sum_3 = data["Cấp thiết"].sum()
sum_4 = data["Trang bị"].sum()
sum_5 = data["Điều kiện"].sum()

In [4]:
print(sum_1)
print(sum_2)
print(sum_3)
print(sum_4)
print(sum_5)

2.176190476190476
8.350000000000001
7.764285714285714
10.07857142857143
9.714285714285714

In [5]:
data_time = []
for x in data["Thời gian"]:
    data_time.append(x/sum_1)

data_env = []
for x in data["Môi trường"]:
    data_env.append(x/sum_2)
    
data_ess = []
for x in data["Cấp thiết"]:
    data_ess.append(x/sum_3)
    
data_eq = []
for x in data["Trang bị"]:
    data_eq.append(x/sum_4)
    
data_con = []
for x in data["Điều kiện"]:
    data_con.append(x/sum_5)

In [6]:
data_tabl2 = {"Thời gian":data_time, 
              "Môi trường":data_env ,
              "Cấp thiết": data_ess,
              "Trang bị": data_eq ,
              "Điều kiện": data_con }
data_tab2 = pd.DataFrame(data_tabl2,index = ["Thời gian", "Môi trường", "cấp thiết", "Trang bị", "Điều kiện"] )
data_tab2

            Thời gian  Môi trường  Cấp thiết  Trang bị  Điều kiện
Thời gian    0.459519    0.239521   0.386385  0.496102   0.720588
Môi trường   0.229759    0.119760   0.091996  0.141743   0.045752
cấp thiết    0.153173    0.167665   0.128795  0.124026   0.057190
Trang bị     0.091904    0.203593   0.160994  0.099220   0.073529
Điều kiện    0.065646    0.269461   0.231831  0.138909   0.102941

In [7]:
citeria = []
for i in range(len(data_tab2.columns)):
    citeria.append(data_tab2.iloc[i].mean())

In [8]:
dict_ci = {"Citeria" : citeria}
df_ci = pd.DataFrame(dict_ci,index = ["Thời gian", "Môi trường", "cấp thiết", "Trang bị", "Điều kiện"] )

In [9]:
cer_1 = pd.Series(citeria, name="Citeria")

In [10]:
df_ci.Citeria

Thời gian     0.460423
Môi trường    0.125802
cấp thiết     0.126169
Trang bị      0.125848
Điều kiện     0.161757
Name: Citeria, dtype: float64

In [11]:
data_tab2_ci = data_tab2.join(df_ci['Citeria'])

In [12]:
data_tab2_ci

            Thời gian  Môi trường  Cấp thiết  Trang bị  Điều kiện   Citeria
Thời gian    0.459519    0.239521   0.386385  0.496102   0.720588  0.460423
Môi trường   0.229759    0.119760   0.091996  0.141743   0.045752  0.125802
cấp thiết    0.153173    0.167665   0.128795  0.124026   0.057190  0.126169
Trang bị     0.091904    0.203593   0.160994  0.099220   0.073529  0.125848
Điều kiện    0.065646    0.269461   0.231831  0.138909   0.102941  0.161757

In [13]:
data_time = []
for x in data["Thời gian"]:
    data_time.append(x*data_tab2_ci["Citeria"][0])

data_env = []
for x in data["Môi trường"]:
    data_env.append(x*data_tab2_ci["Citeria"][1])
    
data_ess = []
for x in data["Cấp thiết"]:
    data_ess.append(x*data_tab2_ci["Citeria"][2])
    
data_eq = []
for x in data["Trang bị"]:
    data_eq.append(x*data_tab2_ci["Citeria"][3])
    
data_con = []
for x in data["Điều kiện"]:
    data_con.append(x*data_tab2_ci["Citeria"][4])

In [14]:
data_tabl3 = {"Thời gian":data_time,
              "Môi trường":data_env , 
              "Cấp thiết": data_ess,
              "Trang bị": data_eq , 
              "Điều kiện": data_con }

data_tab3 = pd.DataFrame(data_tabl2,index = ["Thời gian", "Môi trường", "cấp thiết", "Trang bị", "Điều kiện"] )
data_tab3

            Thời gian  Môi trường  Cấp thiết  Trang bị  Điều kiện
Thời gian    0.459519    0.239521   0.386385  0.496102   0.720588
Môi trường   0.229759    0.119760   0.091996  0.141743   0.045752
cấp thiết    0.153173    0.167665   0.128795  0.124026   0.057190
Trang bị     0.091904    0.203593   0.160994  0.099220   0.073529
Điều kiện    0.065646    0.269461   0.231831  0.138909   0.102941

In [15]:
weight = []
for i in range(len(data_tab3.columns)):
    weight.append(data_tab2.iloc[i].sum())

In [16]:
dict_weight = {"Weight": weight}

data_weight = pd.DataFrame(dict_weight, index = ["Thời gian", "Môi trường", "cấp thiết", "Trang bị", "Điều kiện"])
data_weight

              Weight
Thời gian   2.302114
Môi trường  0.629011
cấp thiết   0.630847
Trang bị    0.629240
Điều kiện   0.808787

In [17]:
Consistent = np.divide(data_weight["Weight"], data_tab2_ci["Citeria"] )

In [18]:
print(Consistent)

Thời gian     5.0
Môi trường    5.0
cấp thiết     5.0
Trang bị      5.0
Điều kiện     5.0
dtype: float64

In [19]:
dict_consis = {"Consistent": Consistent}
data_consis = pd.DataFrame(dict_consis, index = ["Thời gian", "Môi trường", "cấp thiết", "Trang bị", "Điều kiện"])
data_consis

            Consistent
Thời gian          5.0
Môi trường         5.0
cấp thiết          5.0
Trang bị           5.0
Điều kiện          5.0

In [20]:
data_tab4 = pd.concat([data_tab2_ci, data_weight, data_consis], axis= 1)

In [21]:
data_tab4

,Thời gian,Môi trường,Cấp thiết,Trang bị,Điều kiện,Citeria,Weight,Consistent
Thời gian,0.459519,0.239521,0.386385,0.496102,0.720588,0.460423,2.302114,5.0
Môi trường,0.229759,0.119760,0.091996,0.141743,0.045752,0.125802,0.629011,5.0
cấp thiết,0.153173,0.167665,0.128795,0.124026,0.057190,0.126169,0.630847,5.0
Trang bị,0.091904,0.203593,0.160994,0.099220,0.073529,0.125848,0.629240,5.0
Điều kiện,0.065646,0.269461,0.231831,0.138909,0.102941,0.161757,0.808787,5.0

In [22]:
idx = {
    '1': [0.00] ,'2': [0.00],
       '3':[0.58],'4':[0.90],
       '5':[1.12],'6':[1.24],
       '7':[1.32],'8':[1.41],
       '9': [1.45],'10':[1.49],
       '11':[1.51],'12':[1.54],
       '13':[1.56],'14':[1.57],
       '15':[1.59]
      }
random_index = pd.DataFrame(idx, index=['Random_index'])
random_index

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
Random_index,0.0,0.0,0.58,0.9,1.12,1.24,1.32,1.41,1.45,1.49,1.51,1.54,1.56,1.57,1.59

In [23]:
Lamda_max= data_tab4.Consistent.mean()
Criteria = 5.00
Random_idx = random_index['5']
Consistency_idx = (Lamda_max-Criteria)/(Criteria-1)

In [24]:
print(Consistency_idx)

0.0

In [25]:
Consistency_ratio = np.divide(Consistency_idx, Random_idx)
print(Consistency_ratio)

Random_index    0.0
Name: 5, dtype: float64

In [26]:
if Consistency_ratio.gt(0.1).any():
    print("BAD")
else:
    print("GOOD")

GOOD

In [27]:
def calculate_PA(df, PA_sum):
    re = []
    for x in df:
        re.append(x/PA_sum)
    return re

In [28]:
def cal_avg(df):
    result = []
    for i in range(len(df.columns)):
        result.append(df.iloc[i].mean())
    return result

In [29]:
def tinh_trong_so(df, trong_so):
    result = []
    for i in df:
        result.append(i * trong_so)
    return result

In [30]:
#Với 10,30,60 Với bảng thời gian
dict_time = {'PA1':[10/10, 30/(10+2), 60/(10-2)]}

dict_time_1 ={'PA2':[1/dict_time['PA1'][1], 30/30, 60/(30-2)]}

dict_time_2 = {'PA3': [1/dict_time['PA1'][2], 1/dict_time_1['PA2'][2], 60/60 ]}

In [31]:
df_time = pd.DataFrame(dict_time,index=['PA1', 'PA2','PA3'])

df_time_1 = pd.DataFrame(dict_time_1,index=['PA1', 'PA2','PA3'])

df_time_2 = pd.DataFrame(dict_time_2,index=['PA1', 'PA2','PA3'])

In [32]:
df_ = pd.concat([df_time, df_time_1, df_time_2], axis=1)

In [33]:
df_

     PA1       PA2       PA3
PA1  1.0  0.400000  0.133333
PA2  2.5  1.000000  0.466667
PA3  7.5  2.142857  1.000000

In [34]:
sum_pa1 = df_['PA1'].sum()
sum_pa2 = df_['PA2'].sum()
sum_pa3 = df_['PA3'].sum()
print(sum_pa1)
print(round(sum_pa2,4))
print(sum_pa3)

11.0
3.5429
1.6

In [35]:
dict_pa_time = {
    "PA1": calculate_PA(df_["PA1"], sum_pa1),
    "PA2": calculate_PA(df_["PA2"], sum_pa2),
    "PA3": calculate_PA(df_["PA3"], sum_pa3), 
}

pa_time = pd.DataFrame(dict_pa_time)
trong_so = pd.DataFrame({"Trọng số":cal_avg(pa_time)})
pa_time = pd.concat([pa_time, trong_so], axis=1)
pa_time

        PA1       PA2       PA3  Trọng số
0  0.090909  0.112903  0.083333  0.095715
1  0.227273  0.282258  0.291667  0.267066
2  0.681818  0.604839  0.625000  0.637219

In [36]:
# voi 25, 35, 50 voi bang moi truong
dict_env = {'PA1':[25/25, 35/(25+2), 50/(25-2)]}

dict_env_1 ={'PA2':[1/dict_env['PA1'][1], 35/35, 50/(35-2)]}

dict_env_2 = {'PA3': [1/dict_env['PA1'][2], 1/dict_env_1['PA2'][2], 50/50 ]}

In [37]:
df_env = pd.DataFrame(dict_env,index=['PA1', 'PA2','PA3'])
df_env_1 = pd.DataFrame(dict_env_1,index=['PA1', 'PA2','PA3'])
df_env_2 = pd.DataFrame(dict_env_2,index=['PA1', 'PA2','PA3'])

In [38]:
df_env = pd.concat([df_env, df_env_1, df_env_2], axis=1)
df_env

          PA1       PA2   PA3
PA1  1.000000  0.771429  0.46
PA2  1.296296  1.000000  0.66
PA3  2.173913  1.515152  1.00

In [39]:
sum_pa1_env = df_env['PA1'].sum()
sum_pa2_env = df_env['PA2'].sum()
sum_pa3_env = df_env['PA3'].sum()
print(sum_pa1_env)
print(round(sum_pa2_env,4))
print(sum_pa3_env)

4.4702093397745575
3.2866
2.12

In [40]:
dict_pa_env = {
    "PA1": calculate_PA(df_env["PA1"], sum_pa1_env),
    "PA2": calculate_PA(df_env["PA2"], sum_pa2_env),
    "PA3": calculate_PA(df_env["PA3"], sum_pa3_env), 
}

pa_env = pd.DataFrame(dict_pa_env)

trong_so = pd.DataFrame({"Trọng số":cal_avg(pa_env)})

pa_env = pd.concat([pa_env, trong_so], axis=1)
pa_env

        PA1       PA2       PA3  Trọng số
0  0.223703  0.234721  0.216981  0.225135
1  0.289986  0.304268  0.311321  0.301858
2  0.486311  0.461012  0.471698  0.473007

In [41]:
#voi 62, 30, 16 cua bang cap thiet

dict_ess = {'PA1':[62/62, 30/(62+2), 16/(62-2)]}

dict_ess_1 ={'PA2':[1/dict_ess['PA1'][1], 30/30, 16/(30-2)]}

dict_ess_2 = {'PA3': [1/dict_ess['PA1'][2], 1/dict_ess_1['PA2'][2], 16/16 ]}

In [42]:
df_ess = pd.DataFrame(dict_ess,index=['PA1', 'PA2','PA3'])
df_ess_1 = pd.DataFrame(dict_ess_1,index=['PA1', 'PA2','PA3'])
df_ess_2 = pd.DataFrame(dict_ess_2,index=['PA1', 'PA2','PA3'])

In [43]:
df_ess = pd.concat([df_ess, df_ess_1, df_ess_2], axis=1)
df_ess

          PA1       PA2   PA3
PA1  1.000000  2.133333  3.75
PA2  0.468750  1.000000  1.75
PA3  0.266667  0.571429  1.00

In [44]:
sum_pa1_ess = df_ess['PA1'].sum()
sum_pa2_ess = df_ess['PA2'].sum()
sum_pa3_ess = df_ess['PA3'].sum()
print(sum_pa1_ess)
print(round(sum_pa2_ess,4))
print(sum_pa3_ess)

1.7354166666666666
3.7048
6.5

In [45]:
dict_pa_ess = {
    "PA1": calculate_PA(df_ess["PA1"], sum_pa1_ess),
    "PA2": calculate_PA(df_ess["PA2"], sum_pa2_ess),
    "PA3": calculate_PA(df_ess["PA3"], sum_pa3_ess), 
}

pa_ess = pd.DataFrame(dict_pa_ess)
trong_so = pd.DataFrame({"Trọng số":cal_avg(pa_ess)})
pa_ess = pd.concat([pa_ess, trong_so], axis=1)
pa_ess

        PA1       PA2       PA3  Trọng số
0  0.576230  0.575835  0.576923  0.576330
1  0.270108  0.269923  0.269231  0.269754
2  0.153661  0.154242  0.153846  0.153916

In [46]:
#voi 56, 34, 20 bang trang bi
dict_eq = {'PA1':[56/56, 34/(56+2), 20/(56-2)]}

dict_eq_1 ={'PA2':[1/dict_eq['PA1'][1], 34/34, 20/(34-2)]}

dict_eq_2 = {'PA3': [1/dict_eq['PA1'][2], 1/dict_eq_1['PA2'][2], 16/16 ]}

In [47]:
df_eq = pd.DataFrame(dict_eq,index=['PA1', 'PA2','PA3'])
df_eq_1 = pd.DataFrame(dict_eq_1,index=['PA1', 'PA2','PA3'])
df_eq_2 = pd.DataFrame(dict_eq_2,index=['PA1', 'PA2','PA3'])

In [48]:
df_eq= pd.concat([df_eq, df_eq_1, df_eq_2], axis=1)
df_eq

          PA1       PA2  PA3
PA1  1.000000  1.705882  2.7
PA2  0.586207  1.000000  1.6
PA3  0.370370  0.625000  1.0

In [49]:
sum_pa1_eq = df_eq['PA1'].sum()
sum_pa2_eq = df_eq['PA2'].sum()
sum_pa3_eq = df_eq['PA3'].sum()
print(sum_pa1_eq)
print(round(sum_pa2_eq,4))
print(sum_pa3_eq)

1.9565772669220944
3.3309
5.300000000000001

In [50]:
dict_pa_eq = {
    "PA1": calculate_PA(df_eq["PA1"], sum_pa1_eq),
    "PA2": calculate_PA(df_eq["PA2"], sum_pa2_eq),
    "PA3": calculate_PA(df_eq["PA3"], sum_pa3_eq), 
}

pa_eq = pd.DataFrame(dict_pa_eq)
trong_so = pd.DataFrame({"Trọng số":cal_avg(pa_eq)})
pa_eq = pd.concat([pa_eq, trong_so], axis=1)
pa_eq

        PA1       PA2       PA3  Trọng số
0  0.511097  0.512141  0.509434  0.510891
1  0.299608  0.300221  0.301887  0.300572
2  0.189295  0.187638  0.188679  0.188537

In [51]:
#Voi 58, 38, 24 bang dieu kien
#voi 56, 34, 20 bang trang bi
dict_con = {'PA1':[58/58, 38/(58+2), 24/(58-2)]}

dict_con_1 ={'PA2':[1/dict_con['PA1'][1], 38/38, 24/(38-2)]}

dict_con_2 = {'PA3': [1/dict_con['PA1'][2], 1/dict_con_1['PA2'][2], 24/24 ]}

In [52]:
df_con = pd.DataFrame(dict_con,index=['PA1', 'PA2','PA3'])
df_con_1 = pd.DataFrame(dict_con_1,index=['PA1', 'PA2','PA3'])
df_con_2 = pd.DataFrame(dict_con_2,index=['PA1', 'PA2','PA3'])

In [53]:
df_con = pd.concat([df_con, df_con_1, df_con_2], axis=1)
df_con

          PA1       PA2       PA3
PA1  1.000000  1.578947  2.333333
PA2  0.633333  1.000000  1.500000
PA3  0.428571  0.666667  1.000000

In [54]:
sum_pa1_con = df_con['PA1'].sum()
sum_pa2_con = df_con['PA2'].sum()
sum_pa3_con = df_con['PA3'].sum()
print(sum_pa1_con)
print(round(sum_pa2_con,4))
print(sum_pa3_con)

2.0619047619047617
3.2456
4.833333333333334

In [55]:
dict_pa_con = {
    "PA1": calculate_PA(df_con["PA1"], sum_pa1_con),
    "PA2": calculate_PA(df_con["PA2"], sum_pa2_con),
    "PA3": calculate_PA(df_con["PA3"], sum_pa3_con), 
}

pa_con = pd.DataFrame(dict_pa_con)
trong_so = pd.DataFrame({"Trọng số":cal_avg(pa_con)})
pa_con = pd.concat([pa_con, trong_so], axis=1)
pa_con

        PA1       PA2       PA3  Trọng số
0  0.484988  0.486486  0.482759  0.484745
1  0.307159  0.308108  0.310345  0.308537
2  0.207852  0.205405  0.206897  0.206718

In [56]:
df_multi_time = pd.DataFrame({"PA1": tinh_trong_so(df_['PA1'], pa_time["Trọng số"][0]),
                 "PA2": tinh_trong_so(df_['PA2'], pa_time["Trọng số"][1]),
                 "PA3": tinh_trong_so(df_['PA3'], pa_time["Trọng số"][2])
                }, index = ['PA1', 'PA2', 'PA3'])
df_multi_time

          PA1       PA2       PA3
PA1  0.095715  0.106826  0.084963
PA2  0.239288  0.267066  0.297369
PA3  0.717864  0.572284  0.637219

In [57]:
df_multi_env = pd.DataFrame({"PA1": tinh_trong_so(df_env['PA1'], pa_env["Trọng số"][0]),
                 "PA2": tinh_trong_so(df_env['PA2'], pa_env["Trọng số"][1]),
                 "PA3": tinh_trong_so(df_env['PA3'], pa_env["Trọng số"][2])
                }, index = ['PA1', 'PA2', 'PA3'])
df_multi_env

          PA1       PA2       PA3
PA1  0.225135  0.232862  0.217583
PA2  0.291842  0.301858  0.312185
PA3  0.489424  0.457361  0.473007

In [58]:
df_multi_ess= pd.DataFrame({"PA1": tinh_trong_so(df_ess['PA1'], pa_ess["Trọng số"][0]),
                 "PA2": tinh_trong_so(df_ess['PA2'], pa_ess["Trọng số"][1]),
                 "PA3": tinh_trong_so(df_ess['PA3'], pa_ess["Trọng số"][2])
                }, index = ['PA1', 'PA2', 'PA3'])
df_multi_ess

          PA1       PA2       PA3
PA1  0.576330  0.575475  0.577187
PA2  0.270155  0.269754  0.269354
PA3  0.153688  0.154145  0.153916

In [59]:
df_multi_eq = pd.DataFrame({"PA1": tinh_trong_so(df_eq['PA1'], pa_eq["Trọng số"][0]),
                 "PA2": tinh_trong_so(df_eq['PA2'], pa_eq["Trọng số"][1]),
                 "PA3": tinh_trong_so(df_eq['PA3'], pa_eq["Trọng số"][2])
                }, index = ['PA1', 'PA2', 'PA3'])
df_multi_eq

          PA1       PA2       PA3
PA1  0.510891  0.512740  0.509051
PA2  0.299488  0.300572  0.301660
PA3  0.189219  0.187857  0.188537

In [60]:
df_multi_con = pd.DataFrame({"PA1": tinh_trong_so(df_con['PA1'], pa_con["Trọng số"][0]),
                 "PA2": tinh_trong_so(df_con['PA2'], pa_con["Trọng số"][1]),
                 "PA3": tinh_trong_so(df_con['PA3'], pa_con["Trọng số"][2])
                }, index = ['PA1', 'PA2', 'PA3'])
df_multi_con

          PA1       PA2       PA3
PA1  0.484745  0.487164  0.482342
PA2  0.307005  0.308537  0.310077
PA3  0.207748  0.205692  0.206718

In [61]:
def sum_weight(df):
    result = []
    for i in range(len(df.columns)):
        result.append(df.iloc[i].sum())
    return result


def consistency(sum_weight, pa):
    return sum_weight/pa

In [62]:
df_weight_time = pd.DataFrame({"Sum weight" : sum_weight(df_multi_time)})
#df_weight_time

consitency_time = [consistency(df_weight_time['Sum weight'][0], pa_time["Trọng số"][0]), 
               consistency(df_weight_time['Sum weight'][1],pa_time["Trọng số"][1]),
               consistency(df_weight_time['Sum weight'][2],pa_time["Trọng số"][2])]

df_consistency_time = pd.DataFrame({"Consistency": consitency_time})
#df_consistency_time

df_pa_time = pd.concat([pa_time,df_weight_time,df_consistency_time], axis=1, )
df_pa_time

        PA1       PA2       PA3  Trọng số  Sum weight  Consistency
0  0.090909  0.112903  0.083333  0.095715    0.287504     3.003745
1  0.227273  0.282258  0.291667  0.267066    0.803723     3.009456
2  0.681818  0.604839  0.625000  0.637219    1.927367     3.024654

In [63]:
df_weight_env = pd.DataFrame({"Sum weight" : sum_weight(df_multi_env)})


consitency_env = [consistency(df_weight_env['Sum weight'][0], pa_env["Trọng số"][0]), 
               consistency(df_weight_env['Sum weight'][1],pa_env["Trọng số"][1]),
               consistency(df_weight_env['Sum weight'][2],pa_env["Trọng số"][2])]

df_consistency_env = pd.DataFrame({"Consistency": consitency_env})
#df_consistency_time

df_pa_env = pd.concat([pa_env,df_weight_env,df_consistency_env], axis=1, )
df_pa_env

        PA1       PA2       PA3  Trọng số  Sum weight  Consistency
0  0.223703  0.234721  0.216981  0.225135    0.675580     3.000778
1  0.289986  0.304268  0.311321  0.301858    0.905884     3.001028
2  0.486311  0.461012  0.471698  0.473007    1.419792     3.001629

In [64]:
df_weight_ess = pd.DataFrame({"Sum weight" : sum_weight(df_multi_ess)})


consitency_ess = [consistency(df_weight_ess['Sum weight'][0], pa_ess["Trọng số"][0]), 
               consistency(df_weight_ess['Sum weight'][1],pa_ess["Trọng số"][1]),
               consistency(df_weight_ess['Sum weight'][2],pa_ess["Trọng số"][2])]

df_consistency_ess = pd.DataFrame({"Consistency": consitency_ess})


df_pa_ess = pd.concat([pa_ess,df_weight_ess,df_consistency_ess], axis=1, )
df_pa_ess

        PA1       PA2       PA3  Trọng số  Sum weight  Consistency
0  0.576230  0.575835  0.576923  0.576330    1.728991     3.000004
1  0.270108  0.269923  0.269231  0.269754    0.809262     3.000002
2  0.153661  0.154242  0.153846  0.153916    0.461749     3.000001

In [65]:
df_weight_eq = pd.DataFrame({"Sum weight" : sum_weight(df_multi_eq)})


consitency_eq = [consistency(df_weight_eq['Sum weight'][0], pa_eq["Trọng số"][0]), 
               consistency(df_weight_eq['Sum weight'][1],pa_eq["Trọng số"][1]),
               consistency(df_weight_eq['Sum weight'][2],pa_eq["Trọng số"][2])]

df_consistency_eq = pd.DataFrame({"Consistency": consitency_eq})


df_pa_eq = pd.concat([pa_eq,df_weight_eq,df_consistency_eq], axis=1, )
df_pa_eq

        PA1       PA2       PA3  Trọng số  Sum weight  Consistency
0  0.511097  0.512141  0.509434  0.510891    1.532682     3.000020
1  0.299608  0.300221  0.301887  0.300572    0.901719     3.000012
2  0.189295  0.187638  0.188679  0.188537    0.565614     3.000007

In [66]:
df_weight_con = pd.DataFrame({"Sum weight" : sum_weight(df_multi_con)})


consitency_con = [consistency(df_weight_con['Sum weight'][0], pa_con["Trọng số"][0]), 
               consistency(df_weight_con['Sum weight'][1],pa_con["Trọng số"][1]),
               consistency(df_weight_con['Sum weight'][2],pa_con["Trọng số"][2])]

df_consistency_con = pd.DataFrame({"Consistency": consitency_con})


df_pa_con = pd.concat([pa_con,df_weight_con,df_consistency_eq], axis=1, )
df_pa_eq

        PA1       PA2       PA3  Trọng số  Sum weight  Consistency
0  0.511097  0.512141  0.509434  0.510891    1.532682     3.000020
1  0.299608  0.300221  0.301887  0.300572    0.901719     3.000012
2  0.189295  0.187638  0.188679  0.188537    0.565614     3.000007

In [67]:
#su dung ham de tinh ratio
def lamda_max(df):
    return [df.mean()]

def consistency_vector(lamda_max, criteria):
    return float((lamda_max-criteria)/(criteria-1))

def consistency_index(consis_vec, random_idx):
    return float((consis_vec/random_idx))

In [68]:
# Ratio cua bang thoi gian

df__time = pd.DataFrame({"Lamda max": lamda_max(df_pa_time["Consistency"]), "Criteria": [3.0000], "Random_idx": [0.58]})

dict_consistency_vec_time = {"Consistency vector": [consistency_vector(df__time['Lamda max'], df__time.Criteria)]}
df_consistency_vec_time = pd.DataFrame(dict_consistency_vec_time)

# df_consistency_vec_time 

dict_consistency_idx_time = {"Consistency idx": [consistency_index(df_consistency_vec_time["Consistency vector"], df__time['Random_idx'])]}
df_consistency_idx_time = pd.DataFrame(dict_consistency_idx_time)
df_consistency_idx_time

df__time = pd.concat([df__time,df_consistency_vec_time,df_consistency_idx_time], axis=1)

In [69]:
if df__time["Consistency idx"].gt(0.1).any():
    print("BAD")
else:
    print("GOOD")

GOOD

In [70]:
# Ratio cua bang moi truong

df__env = pd.DataFrame({"Lamda max": lamda_max(df_pa_env["Consistency"]), "Criteria": [3.0000], "Random_idx": [0.58]})

dict_consistency_vec_env = {"Consistency vector": [consistency_vector(df__env['Lamda max'], df__env.Criteria)]}
df_consistency_vec_env = pd.DataFrame(dict_consistency_vec_env)


dict_consistency_idx_env = {"Consistency idx": [consistency_index(df_consistency_vec_env["Consistency vector"], df__env['Random_idx'])]}
df_consistency_idx_env = pd.DataFrame(dict_consistency_idx_env)


df__env = pd.concat([df__env,df_consistency_vec_env,df_consistency_idx_env], axis=1)
df__env

   Lamda max  Criteria  Random_idx  Consistency vector  Consistency idx
0   3.001145       3.0        0.58            0.000572         0.000987

In [71]:
if df__env["Consistency idx"].gt(0.1).any():
    print("BAD")
else:
    print("GOOD")

GOOD

In [72]:
# Ratio cua bang cap thiet

df__ess = pd.DataFrame({"Lamda max": lamda_max(df_pa_ess["Consistency"]), "Criteria": [3.0000], "Random_idx": [0.58]})

dict_consistency_vec_ess = {"Consistency vector": [consistency_vector(df__ess['Lamda max'], df__ess.Criteria)]}
df_consistency_vec_ess = pd.DataFrame(dict_consistency_vec_ess)


dict_consistency_idx_ess = {"Consistency idx": [consistency_index(df_consistency_vec_ess["Consistency vector"], df__ess['Random_idx'])]}
df_consistency_idx_ess = pd.DataFrame(dict_consistency_idx_ess)


df__ess = pd.concat([df__ess,df_consistency_vec_ess,df_consistency_idx_ess], axis=1)
df__ess

   Lamda max  Criteria  Random_idx  Consistency vector  Consistency idx
0   3.000002       3.0        0.58            0.000001         0.000002

In [73]:
if df__ess["Consistency idx"].gt(0.1).any():
    print("BAD")
else:
    print("GOOD")

GOOD

In [74]:
# Ratio cua bang trang bi

df__eq = pd.DataFrame({"Lamda max": lamda_max(df_pa_eq["Consistency"]), "Criteria": [3.0000], "Random_idx": [0.58]})

dict_consistency_vec_eq = {"Consistency vector": [consistency_vector(df__eq['Lamda max'], df__eq.Criteria)]}
df_consistency_vec_eq = pd.DataFrame(dict_consistency_vec_eq)


dict_consistency_idx_eq = {"Consistency idx": [consistency_index(df_consistency_vec_eq["Consistency vector"], df__ess['Random_idx'])]}
df_consistency_idx_eq = pd.DataFrame(dict_consistency_idx_eq)


df__eq = pd.concat([df__eq,df_consistency_vec_eq,df_consistency_idx_eq], axis=1)
df__eq

   Lamda max  Criteria  Random_idx  Consistency vector  Consistency idx
0   3.000013       3.0        0.58            0.000007         0.000011

In [75]:
if df__eq["Consistency idx"].gt(0.1).any():
    print("BAD")
else:
    print("GOOD")

GOOD

In [76]:
# Ratio cua bang dieu kien

df__con = pd.DataFrame({"Lamda max": lamda_max(df_pa_con["Consistency"]), "Criteria": [3.0000], "Random_idx": [0.58]})

dict_consistency_vec_con = {"Consistency vector": [consistency_vector(df__eq['Lamda max'], df__eq.Criteria)]}
df_consistency_vec_con = pd.DataFrame(dict_consistency_vec_con)


dict_consistency_idx_con = {"Consistency idx": [consistency_index(df_consistency_vec_con["Consistency vector"], df__con['Random_idx'])]}
df_consistency_idx_con = pd.DataFrame(dict_consistency_idx_con)


df__con = pd.concat([df__con,df_consistency_vec_con,df_consistency_idx_con], axis=1)
df__con

   Lamda max  Criteria  Random_idx  Consistency vector  Consistency idx
0   3.000013       3.0        0.58            0.000007         0.000011

In [77]:
if df__con["Consistency idx"].gt(0.1).any():
    print("BAD")
else:
    print("GOOD")

GOOD

In [78]:
df_final = pd.DataFrame({"Thời gian": pa_time["Trọng số"],
            "Môi trường": pa_env["Trọng số"],
            "Cấp thiết":pa_ess["Trọng số"],
            "Trang bị": pa_eq["Trọng số"],
            "Điều kiện": pa_con["Trọng số"],
           })

In [79]:
df_final

   Thời gian  Môi trường  Cấp thiết  Trang bị  Điều kiện
0   0.095715    0.225135   0.576330  0.510891   0.484745
1   0.267066    0.301858   0.269754  0.300572   0.308537
2   0.637219    0.473007   0.153916  0.188537   0.206718

In [80]:
Criteria_weight = pd.DataFrame(data_tab4['Citeria'])

In [81]:
Criteria_weight

             Citeria
Thời gian   0.460423
Môi trường  0.125802
cấp thiết   0.126169
Trang bị    0.125848
Điều kiện   0.161757

In [82]:
phuong_an = pd.DataFrame({"PA1":['Ra ngoài cùng với khẩu trang'] , 
                          "PA2":['Ra ngoài cùng với các phương tiện di chuyển có sự ngăn chặn các tác hại từ môi trường bên ngoài như (xe con, xe buýt, tàu hỏa, ...)'],
                          "PA3":['Không ra ngoài']}
                           )

phuong_an.T

                                                     0
PA1                       Ra ngoài cùng với khẩu trang
PA2  Ra ngoài cùng với các phương tiện di chuyển có...
PA3                                     Không ra ngoài

In [83]:
#hàm tích hai ma trận
def tich_ma_tran(df, criteria):

    result = []
    for i in range(len(df)):
        row = df.iloc[i].fillna(0).tolist() 
        if len(row) == len(criteria): 
            result.append(np.matmul(row, criteria))
        else:
            print("độ dài ma trận không hợp lệ")
    return result

In [84]:
rank = tich_ma_tran(df_final, Criteria_weight['Citeria'])

In [85]:
print(rank)

[0.2878127593427075, 0.2827069281823856, 0.4294803124749069]

In [86]:
dict_rank = pd.DataFrame({"Rank": rank }, index=["PA1", "PA2", "PA3"])

In [87]:
dict_rank

         Rank
PA1  0.287813
PA2  0.282707
PA3  0.429480

In [88]:
#Ta thấy PA3 có chỉ số cao nhất 0.429480 -> chọn Phương án 3: không ra ngoài